</script>
		<style>

			/*CSS - google api*/
			
			.box1 {
		        -moz-box-shadow: 0 0 3px #000;
		        -webkit-box-shadow: 0 0 3px #000;
		        box-shadow: 0 0 3px #000;
		        left: 7px;
		        top: 10px;
		        width: 1200px;
		        margin: auto;
		        position: relative;
		        background: #323232;
		      }

		  	.header1 {		        
		        border: 1px solid #323232;
		        color: #fff;
		        font-size: 16px;
		        font-weight: bold;
		        height: 15px;
		        padding: 10px 0 10px 12px;
		        position: relative;
		      }

		    .body1 {
		        position: relative;
		        background: rgba(255,255,255,.95);
		        padding: 12px;
		    }

		    .box2 {
		        -moz-box-shadow: 0 0 3px #000;
		        -webkit-box-shadow: 0 0 3px #000;
		        box-shadow: 0 0 3px #000;
		        margin: auto;
		        position: relative;
		        background: #323232;
		      }

		  	.header2 {		        
		        border: 1px solid #323232;
		        color: #fff;
		        font-size: 14px;
		        font-weight: bold;
		        height: 15px;
		        padding: 10px 0 10px 12px;
		        position: relative;
		      }

		    .body2 {
		        position: relative;
		        background: rgba(255,255,255,1.0);
		        padding: 12px;
		    }

		    .google-visualization-table-table td {
				text-align: center;
			}
			.google-visualization-table-table th {
				text-align: center;
			}
	

		</style>
	</head>
	<body>
		<div class="box1">
			<div class="header1" id="dir_ex_head"><center>Director executiv</center></div>
			<div class="body1" id="dir_ex_body">

				<div class="box2">
					<div class="header2" id="dir_ex1_head">Lista cu magazinele si vanzarile totale facute de acestea</div>
					<div id="dir_ex1_body" class="body2">
						<div id="table_div_1_1" style="height: 120px;"></div>
						<div id="columnchart_1_1" style="height: 300px;width:50%; display: inline-block"></div><div id="columnchart_1_1s" style="height: 300px;width:50%; display: inline-block"></div>
					</div>
				</div>
					<div class="box2"><div class="header2" id="dir_ex2_head">Lista cu produsele si vanzarile totale facute pentru acestea</div>
					<div id="dir_ex2_body" class="body2">
						<div id="table_div_1_2" style="height: 120px;"></div>
						<div id="columnchart_1_2" style="height: 300px;width:50%; display: inline-block"></div><div id="columnchart_1_2s" style="height: 300px;width:50%; display: inline-block"></div>
					</div>
				</div>
				<div class="box2"><div class="header2" id="dir_ex3_head">Valoarea cosului mediu</div>
					<div id="dir_ex3_body" class="body2">