</div>
				</div>
				<div class="box2"><div class="header2" id="dir_ex5_head">Perechile de produse care se vand cel mai bine impreuna</div>
					<div id="dir_ex5_body" class="body2">
						<!-- ex5 dir ex -->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>